/* nulstilling af browser */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* valgte breakpoints
    mobil: 768 px
    tablet: 992 px */


/* ****************************************************************************************************************
            Styling af header/navbar starter
***************************************************************************************************************** */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #097834;
    padding: 1.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 10rem;
}

.logo {
    width: 8rem;
    height: auto;
}

.navbar a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
}


/* styling af menupunkterne, så de er på linje med hinanden*/
.navbar ul{
    display: flex;
}

/* ændring af farve på tekst, når musen holdes over */
.navbar ul li a:hover{
    color: black;
    text-decoration: none;
    opacity: 0.9;
}

#check{
    display: none;
}

/* resigering af burger menu */
.burger{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
    /* gør at vi ikke kan se burgermenuen på siden, før størrelsen ændres */
}

/* styling af header/navbar i andre størrelser */
@media (max-width: 992px){
    .header{
        padding: 1rem 3%;
    }

    .navbar a{
        margin-left: 2rem;
    }
}

@media (max-width: 768px){
    /* styling af selve burger menuen vi ser i hjørnet */
    .burger{
        display: inline-flex;
    }

    /* gør burger menuen forsvinder når man trykker på den, så krydset kan dukke frem */
    #check:checked~.burger #burger-menu{
        display: none;
    }

    .burger #kryds-menu{
      display: none;  
    }

    /* gør krydset dukker frem */
    #check:checked~.burger #kryds-menu{
        display: block;
    }

    /* styling af "baggrunden" inde i burgermenuen */
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #0daf4c;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    /* styling af punkterne */
    .navbar a{
        display: block;
        font-size: 1.3rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    /* gør punkterne står over under hinanden */
    .navbar ul{
        display: block;
    }

}

/* ****************************************************************************************************************
            Styling af footer starter
***************************************************************************************************************** */

/* første 3 punkter får footer til at være i bunden af siden */
footer{
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    /* næste to er udseende på footer */
    background-color: #097834;
    height: 15rem;
    padding: 2rem;
}

/* gør punkterne kommer på linje med hinanden */
.row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

/* gør symboler for sociale medier står på linje, og har afstand mellem sig */
.social{
    display: flex;
    /* justify-content: space-between; */
}


/* styling af de 4 "kasser" */
.footer-col{
    width: 25%;
    padding: 0 0.9rem;
}


/* styling af overskrifterne */
.footer-col h3{
    font-size: 1.2rem;
    color: white;
    /* indsæt font family */
    margin-bottom: 1rem;
    font-weight: 800;
}

/* styling af de samlet punkter under overskriften */
.footer-col ul li{
    margin-bottom: 0.6rem;
    /* styling af det tekst som ikke er del af link */
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

/* styling af den enkelte punkt, under overskifterne */
.footer-col ul li a{
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

/* cikel rundt om sociale medier */
.social2 ul li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 0.6rem 0.6rem 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

/* bagrundfaverne på sociale medier iconer, når man køre musen over */
.social2 ul li a:hover{
    background-color: #0daf4c;
}

/* farven på links, når man køre musen over */
.footer-col ul li a:hover{
    color: black;
    text-decoration: none;
    opacity: 0.9;
}

/* ************* footer respnsive ************ */
@media (max-width: 992px){
    footer{
        height: 20rem;
    }
    .footer-col{
        width: 50%;
        padding-bottom: 2rem;
    }
}

@media (max-width: 768px){
    footer{
        height: 40rem;
    }
    .footer-col{
        width: 100%;
        padding-bottom: 2rem;
    }
}


/* ****************************************************************************************************************
            Styling af forsiden starter
***************************************************************************************************************** */

.forside{
    width: 100%;
    padding-top: 10rem;
}





/* ****************************************************************************************************************
            Styling af siden med produkter starter
***************************************************************************************************************** */

.produkter-h1{
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.beer{
    height: 32rem;
    width: auto;
    padding: 2rem;
}

.kasse{
    padding: 2rem 3rem 5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* kassen som kommer frem uden om billederne, og de bliver forstørret */
.kasse a img:hover{
    transform: scale(1.1);
    background-color: #097834;
}

/* ****************************************************************************************************************
            Styling af siden om sommer øl starter
***************************************************************************************************************** */

/* styling af h1 */
.om-ol{
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.ol-indhold{
    padding: 3rem 3rem 5rem 3rem;
}

.sommer{
    height: 40rem;
    width: auto;
}

