/* nulstilling af browser */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* valgte breakpoints
    mobil: 768 px
    tablet: 992 px */


/* ****************************************************************************************************************
            Styling af header/navbar starter
***************************************************************************************************************** */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #097834;
    padding: 1.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 10rem;
}

.logo {
    width: 8rem;
    height: auto;
}

.navbar a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* styling af menupunkterne, så de er på linje med hinanden*/
.navbar ul{
    display: flex;
}

/* ændring af farve på tekst, når musen holdes over */
.navbar ul li a:hover{
    color: black;
    text-decoration: none;
    opacity: 0.9;
}

#check{
    display: none;
}

/* resigering af burger menu */
.burger{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
    /* gør at vi ikke kan se burgermenuen på siden, før størrelsen ændres */
}

/* styling af header/navbar i andre størrelser */
@media (max-width: 992px){
    .header{
        padding: 1rem 3%;
    }

    .navbar a{
        margin-left: 2rem;
    }
}

@media (max-width: 768px){
    /* styling af selve burger menuen vi ser i hjørnet */
    .burger{
        display: inline-flex;
    }

    /* gør burger menuen forsvinder når man trykker på den, så krydset kan dukke frem */
    #check:checked~.burger #burger-menu{
        display: none;
    }

    .burger #kryds-menu{
      display: none;  
    }

    /* gør krydset dukker frem */
    #check:checked~.burger #kryds-menu{
        display: block;
    }

    /* styling af "baggrunden" inde i burgermenuen */
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #0daf4c;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    /* styling af punkterne */
    .navbar a{
        display: block;
        font-size: 1.3rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    /* gør punkterne står over under hinanden */
    .navbar ul{
        display: block;
    }

}

/* ****************************************************************************************************************
            Styling af footer starter
***************************************************************************************************************** */

/* første 3 punkter får footer til at være i bunden af siden */
footer{
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    /* næste to er udseende på footer */
    background-color: #097834;
    height: 15rem;
    padding: 2rem;
}

/* gør punkterne kommer på linje med hinanden */
.row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

/* gør symboler for sociale medier står på linje, og har afstand mellem sig */
.social{
    display: flex;
    /* justify-content: space-between; */
}


/* styling af de 4 "kasser" */
.footer-col{
    width: 25%;
    padding: 0 0.9rem;
}


/* styling af overskrifterne */
.footer-col h3{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    /* indsæt font family */
    margin-bottom: 1rem;
    font-weight: 800;
}

/* styling af de samlet punkter under overskriften */
.footer-col ul li{
    margin-bottom: 0.6rem;
    /* styling af det tekst som ikke er del af link */
    font-size: 1rem;
    color: white;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* styling af den enkelte punkt, under overskifterne */
.footer-col ul li a{
    font-size: 1rem;
    color: white;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* cikel rundt om sociale medier */
.social2 ul li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 0.6rem 0.6rem 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

/* bagrundfaverne på sociale medier iconer, når man køre musen over */
.social2 ul li a:hover{
    background-color: #0daf4c;
}

/* farven på links, når man køre musen over */
.footer-col ul li a:hover{
    color: black;
    text-decoration: none;
    opacity: 0.9;
}

/* ************* footer respnsive ************ */
@media (max-width: 992px){
    footer{
        height: 20rem;
    }
    .footer-col{
        width: 50%;
        padding-bottom: 2rem;
    }
}

@media (max-width: 768px){
    footer{
        height: 40rem;
    }
    .footer-col{
        width: 100%;
        padding-bottom: 2rem;
    }
}


/* ****************************************************************************************************************
            Styling af forsiden starter
***************************************************************************************************************** */

.forside{
    width: 100%;
    padding-top: 10rem;
}

/* gør man ikke kan se billedene, når særmen er en computer */
.tablet-img{
    display: none;
}
.mobil-img{
    display: none;
}

.midt-forside{
    height: 39rem;
    width: 100%;
    background-color: #0daf4c;
    /* punkterne herunder gør den hvide kasse er i midten af den grønne */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.3rem;

}

/* stuling af den hvide kasse, og dens indhold */
.hvid-kasse{
    height: 36rem;
    width: 60rem;
    background-color: white;
    display: flex;
    padding: 3rem;
    border-radius: 0.5rem;
}

/* billede inde i den hvide kasse */
.infog-img{
    height: 28rem;
    width: auto;
    border: 0.2rem solid black;
}

.text-forside{
    padding-left: 2rem;
}

/* overskift i den hvide kasse */
.os-forside{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* brødtekst i den hvide kasse */
.p-os-forside{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

/* overskift til de to billeder nederst på siden */
.genvej-h2{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* styling af de to billeder nederst på siden */
.slut-forside{
    height: 30rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.olsmagning-img{
    height: 25rem;
    width: auto;
    border-radius: 0.5rem;
}

.brygger-img{
    height: 25rem;
    width: auto; 
    border-radius: 0.5rem; 
}

/* styling af "kortet", som dukker op oven på billedet */
.kort{
    height: 25rem;
    width: 20.9rem;
    /* har først sat overflow ind efter kortet er stylet, da det gør man ikke kan se "kortet" når det ikke ligger over billedet */
    overflow: hidden;
    /* gør at "kortet" dukker op det rigte sted" */
    position: relative;
}
/* styling af det som skal dukke op hen over billedet */
.kort-body{
    height: 100%;
    width: 100%;
    top: 0;
    /* har først sat den til -100% efter jeg har stylet hele kortet, for at det kan komme ind for højre side */
    right: -100%;
    position: absolute;
    /* background-color: #09783468; */
    background-color: #0daf4b6c;
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    padding: 2rem;
    transition: 0.5s;
}

/* gør at kortet dukker op, når musen er på billedet */
.kort:hover .kort-body{
    right: 0;

}

.h3-korttitel{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.p-korttekst{
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kort-knap{
    background-color: #097834;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
}

@media (max-width: 992px){
    .forside{
        display: none;
    }

    .tablet-img{
        display: block;
        width: 100%;
        padding-top: 10rem;
    }

    /* her har jeg blot ændret på størrelsen til den hvide kasse, for at teksen ikke ender med at gå udover */
    .hvid-kasse{
        height: 36rem;
        width: 90%;
        background-color: white;
        display: flex;
        padding: 3rem;
    }
}

@media (max-width: 768px){

    .tablet-img{
        display: none;
    }

    .mobil-img{
        display: block;
        width: 100%;
        padding-top: 10rem;
    }

    .slut-forside{
        height: 60rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* styling af tekst og billede midt på siden, så det bliver lavet om til at stå over under hinanden */
    .midt-forside{
        height: auto;
        width: 100%;
    }

    .hvid-kasse{
        height: auto;
        width: 80%;
        background-color: white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        margin: 2rem 0;
    }

    .infog-img{
        height: auto;
        width: 90%;
    }
    .text-forside{
        padding-left: 0;
        /* height: 30rem */
    }

    /* brødtekst i den hvide kasse */
    .p-os-forside{
        padding: 0 0 2rem 0;

    }
}



/* ****************************************************************************************************************
            Styling af siden med produkter starter
***************************************************************************************************************** */

.produkter-h1{
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.beer{
    height: 30rem;
    width: auto;
    /* jeg har tilføjet padding som er tykkelsen på den grønne ramme, hvor margin tilføjer mere afstand mellem billederne */
    padding: 1rem;
    margin: 1rem;
}

/* styling af billedernes position på siden */
/* måden det er sat op gør de er resposive og dermed hoppe ind under hinanden når skærmen bliver mindre */
.kasse{
    padding: 2rem 3rem 5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* kassen som kommer frem uden om billederne, og de bliver forstørret */
.kasse a img:hover{
    transform: scale(1.1);
    background-color: #097834;
}

@media (max-width: 992px){
    .beer{
        height: 27rem;
        width: auto;
    }
}

@media (max-width: 768px){
    .beer{
        height: 28rem;
        width: auto;
    }
}



/* ****************************************************************************************************************
            Styling af siden om sommer øl starter
***************************************************************************************************************** */

/* styling af h1 */
.om-ol{
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ol-indhold{
    padding: 3rem 3rem 5rem 3rem;
    display: flex;
    justify-content: center;
    margin: 0 5rem;

}

.sommer{
    height: 40rem;
    width: auto;
}

.brod-tekst{
    padding-left: 5rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* jeg har her lavet nogle ændringer i billedet størrelse, padding på tekst og margin på hele indholdet, for der plads på mindre skærm */
@media (max-width: 992px){
    
    .sommer{
        height: 30rem;
        width: auto;
    }

    .brod-tekst{
        padding-left: 3rem;
    } 

    .ol-indhold{
        margin: 0 2rem;
    }
}

/* jeg har her ændret, så teksten kommer til at stå under billedet */
@media (max-width: 768px){
    .ol-indhold{
        padding: 0 0 5rem 0;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        align-items: center;
    }

    .sommer{
        height: auto;
        width: 20rem;
        margin-bottom: 2rem;
    }

    .brod-tekst{
        padding-left: 0;
        font-size: 1rem;

    } 
}

/* ****************************************************************************************************************
            Styling af events siden starter
***************************************************************************************************************** */

/* jeg havde her prøvet lidt forskelligt, derfor der er nogle ting som er kommenteret ud */
.h1-events{
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 2 div rundt om hele punktet for ølsmagning og brygger. er med til det er muligt at teksten flytter sig under billedet, efter skærmens størrelse  */
.body{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* styling af punktet ølsmagning starter */
/* div om det hele */
.ol-smagning{
    margin: 2rem auto;
    width: 80%;
}

/* billede */
.ol-smagning-img{
    height: 30rem;
    width: auto;
    float: left;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.ol-smagning-h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* styling af alt tekst som er i p på event siden */
.events-p{
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* styling af punktet bliv brygger for en dag starter */

/* div om det hele */
.brygger{
    margin: 2rem auto;
    width: 80%;
}
/* billede */
.event-brygger-img{
    height: 30rem;
    width: auto;
    float: right;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.brygger-h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* stylink af telefon, mail og adresse link på event siden. findes inde i p teksten */
.event-link{
    font-size: 1rem;
    color: black;
}
/* gør at linket bliver gør når musen er over det, for at fremhæve det er et link */
.event-link:hover{
    color: #0daf4c;
    text-decoration: none;
    opacity: 0.9;
}

/* styling til tablet */
@media (max-width: 992px){
    /* styling af ølsmagning starter */
    /* her har jeg blot gjort at billedet bliver lidt mindre */
    .ol-smagning-img{
        height: 25rem;
        width: auto;
    }

    .event-brygger-img{
        height: 25rem;
        width: auto;
    }
}

/* styling til mobil starter */
@media (max-width: 768px){
    /* styling af ølsmagning delen */
    .ol-smagning{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .ol-smagning-img{
        height: auto;
        width: 20rem;
        margin: 0;
    }

    .ol-smagning-kasse{
        margin-bottom: 2rem;
    }

    /* stylling af brygger delen */
    .brygger{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5rem;
    }

    .event-brygger-img{
        height: auto;
        width: 20rem;
        margin: 0;
    }

    .brygger-kasse{
        margin-bottom: 2rem;
    }
}